<div class="container">
    <div class="d-flex justify-content-between mt-5 mt-3">
        <div>
            <h2>Proyectos</h2>
            <p id="p-acerca-de"></p>
        </div>
        <div>
            <div class="text-center">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-outline-secondary"><img src="../../../assets/img/edit-svgrepo-com.svg"
                        alt="Lapiz" width="20px"></button>
            </div>
        </div>
    </div>
</div>
