<header class="p-3 bg-dark">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-4">
            <li class="me-1">
                <a href="https://www.linkedin.com/in/tom%C3%A1s-eliseo-vazquez-moreyra-503b5216a/"
                    class="nav-link px-2">
                    <img src="../../../assets/img/linkedin-svgrepo-com.svg" alt="Linkedin" width="20px">
                </a>
            </li>
            <li class="me-1">
                <a href="https://www.instagram.com/tomiivaz/" class="nav-link px-2 text-white">
                    <img src="../../../assets/img/instagram-svgrepo-com.svg" alt="Instagram" width="20px">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/TomiiVaz" class="nav-link px-2 text-white">
                    <img src="../../../assets/img/twitter-svgrepo-com.svg" alt="Linkedin" width="20px" class="rounded">
                </a>
            </li>
        </ul>
        <div class="text-end me-4">
            <button type="button" class="btn btn-danger me-2">Login</button>
        </div>
    </div>
    <nav class="d-flex justify-content-center">
        <ul>
            <li>
                <a class="text-decoration-none text-white">Acerca de</a>
            </li>
        </ul>
        <ul class="ms-3 me-3">
            <li>
                <a class="text-decoration-none text-white">Experiencia</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="text-decoration-none text-white">Educacion</a>
            </li>
        </ul>
    </nav>
</header>